{% extends "index.html" %}

{% block content %}
<section class="bloggs-section row px-0 mx-0">
    <div class="blog-content">
        <h1 class="text-center text-primary fw-bold" style="font-size: 3rem; margin-top: 15px; margin-bottom: 10px;">Blogs Section</h1>
            <div class="col-12">
                <div class="card bg-info text-white mb-3">
                    <div class="card-header">
                        <h2>Alumni Portal Launched</h2>
                    </div>
                    <div class="card-body d-flex flex-wrap">
                        <div class="col-md-4 card-image">
                            <img src="../static/img/mmit.webp" alt="Alumni Portal" class="img-fluid rounded image-hover-effect">
                        </div>
                        <div class="col-md-8 px-1">
                            <p>Get ready to reconnect! We're thrilled to announce the launch of our alumni portal, a platform designed to bridge the gap between past and present. Here, you'll find a community of like-minded individuals who share your alma mater spirit. Share your journey through blogs, stay updated on upcoming events, and network with fellow alumni. Join us in celebrating this milestone and take the first step towards staying connected with your college family forever!</p>
                        </div>
                    </div>
                </div>
            <div class="col-12">
                <div class="card bg-info text-white mb-3">
                    <div class="card-header">
                        <h2>Alumni Portal Launched</h2>
                    </div>
                    <div class="card-body d-flex flex-wrap">
                        <div class="col-md-4 card-image">
                            <img src="../static/img/mmit.webp" alt="Alumni Portal" class="img-fluid rounded">
                        </div>
                        <div class="col-md-8 px-1">
                            <p>Get ready to reconnect! We're thrilled to announce the launch of our alumni portal, a platform designed to bridge the gap between past and present. Here, you'll find a community of like-minded individuals who share your alma mater spirit. Share your journey through blogs, stay updated on upcoming events, and network with fellow alumni. Join us in celebrating this milestone and take the first step towards staying connected with your college family forever!</p>
                        </div>
                    </div>
                </div>
                
        </div>
</section>

{% endblock %}