{% extends "index.html" %}

{% block content %}
<section class="bloggs-section row px-0 mx-0">
    <div class="blog-content">
        <h1 class="text-center text-primary fw-bold" style="font-size: 3rem; margin-top: 15px; margin-bottom: 10px;">
            Blogs Section</h1>
        <div class="col-12">
            <div class="card bg-info text-white mb-3">
                <div class="card-header">
                    <h2></h2>
                </div>
                <div class="card-body d-flex flex-wrap">
                    <div class="col-md-4 card-image">
                        <img src="" alt="Alumni Portal" class="img-fluid rounded image-hover-effect">
                    </div>
                    <div class="col-md-8 px-1">
                        <p style="color: black; font-family: 'Times New Roman', Times, serif;"></p>
                        <p class="align-baseline text-end"
                            style="font-family: 'Times New Roman', Times, serif; font-variant-caps: petite-caps; color: darkblue;">
                            ~ Author</p>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}